<!doctype html>
<head>
    <title>Films with {{ name }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
</head>

<body>
    <h1>Films with {{ name }}</h1>

    <div id="myDiv">
    <canvas id="myChart" width="400" height="150"> </canvas>
    </div>

    <p><a href="/">back home</a></p>

    <script>
        const myDiv = document.getElementById("myDiv");
        const myChart = document.getElementById("myChart");
        const myCtx = myChart.getContext('2d');
        const myData = {{ data|safe }};
        if (myData.hist.length > 0) {
            new Chart(myCtx, {
                type: 'bar',
                data: {
                    labels: myData.dates,
                    datasets: [{
                        label: '# of films',
                        data: myData.hist,
                        backgroundColor: 'rgba(255, 159, 64, 0.6)',
                        borderColor: 'rgba(0, 0, 0, 0.8)',
                        borderWidth: 2
                    }]
                }
            });
        }
        else {
            myChart.height = 0;
            myChart.width = 0;
            myDiv.innerHTML = `no actor "{{ name }}" found`;
        }
    </script>
</body>

